
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital@1&display=swap');
.body {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box; /* Include padding and borders in total width and height */


  }

  .block{
    position: relative;
    justify-content: center;
    margin: 0 auto;
    top: 25px;
    font-family: 'Space Mono', monospace;
  }
  .page {
    min-height: 100vh;
    margin: 0;
    background: url("/icons/ferrari-finish.jpg");
    background-size: cover;  /* or background-size: 100% 100%; */
    background-position: center;
    background-repeat: no-repeat;
    object-fit: fill;
    padding-bottom: 50px;
  }
  
 .block h1{
font-size: 30px;
  }
  
  .block h1, .block p{ 
    text-align: center;
    color: #fbf7f7;
  }
  .headshot{
    display: flex;
    border-radius: 10px;
    width: 300px;
  
    margin: 0 auto;
    justify-content: center;
  }

  .content{
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
padding: 15px;
margin-top: 10px;
  }
  .gridContainer {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-gap: 10px;
    padding: 20px;
   

    width: fit-content;

  }

  .items{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50%;
  }

  .icons{
    width: 15px;
  }

 
  
  @media only screen and (max-width: 950px) {

    .gridContainer{
        display: grid;
        grid-template-columns: 1fr 1fr;  /* Two columns with equal width */
        grid-gap: 10px;
        height: fit-content;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
      }

      
      
  
    .headshot {
      display: flex;
      border-radius: 10px;
      width: 50%;
      max-width: 300px; /* Add a max-width to limit the width on smaller screens */
      margin: 0 auto;
    }

    .gridItem {
        background: rgba(255, 255, 255, 0.21);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(1px);
        -webkit-backdrop-filter: blur(1px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        color: #FFF;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
        text-align: center;
        width: 200px;
        height: 10px;
        font-size: 3px;
          }

          .emailME a:any-link{
            text-decoration: none;
            color: #000;
            
        }
          
  }
  
  @media only screen and (max-width: 350px) {

    .gridContainer{
        grid-template-columns: 1fr;
        grid-gap: 10px;
        height: fit-content;
        margin: 0 auto;
        justify-content: center;
        align-items: center; 
  
      }


    

    }
    

   
  /* } */
  
  .gridItem {
background: #fff;
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(1px);
-webkit-backdrop-filter: blur(1px);
border: 1px solid rgba(255, 255, 255, 0.3);
padding: 20px;
border: 1px solid #ccc;
border-radius: 10px;
text-align: center;
width: 150px;
height: 150px;
font-size: 12px;
display: block;
flex-direction: column;


  }


  .logo{
    width: 85px;
  }

  .gridItem a:any-link{
    color: #000;
    text-decoration: none;
    margin: 0 auto;
  }